<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Vista Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-6">
        <div class="jumbotron">
            <h1>Vista Items</h1>
            <br>
            <% if(existenciaItems){ %>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Imagen</th>
                        </tr>
                        <!-- foreach para cargar productos -->
                        <% for (const item of items) {%>
                            <tr>
                                <td><%=item.title%></td>
                                <td><%=item.price%></td>
                                <td><%=item.thumbnail%></td>
                            </tr>
                            <%};%>
                    </table>
                </div>
                <% } else { %>
                    <h3 class="alert alert-warning">No hay items</h3>
                    <% } %>

                        <br>
                        <a href="/" type="button" class="btn btn-primary">Cargar nuevo item</a>
        </div>
    </div>
</body>
</html>